# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables (VERY IMPORTANT)
.env

# Streamlit files
.streamlit/

# VS Code settings
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter notebooks
.ipynb_checkpoints/